<div class="container">
  <div class="row">
    <div class="col s4">
      <label for="TP">Total Personas</label>
      {{input id="TP" type="text" value=detalleEvento.totalPersonas}}
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <label for="fecha">Fecha</label>
      <!-- <input id="fecha" type="text" class="datepicker"> -->
      {{input id="text" type="text" value=registroEvento.noMesas}}
    </div>
    <div class="col s6">
      <label for="hr">Hora de Inicio</label>
      <!-- <input id="hr" type="text" class="timepicker"> -->
      {{input id="text" type="text" value=registroEvento.noSillas}}
    </div>
  </div>

  <div class="row">
    <button class="ui right labeled icon button" {{action 'registraEvento' }}>
      <i class="right arrow icon"></i>
      Siguente Paso
    </button>
  </div>
</div>
