<div class="container">
  <div class="row">
    <div class="col s4">
      <label for="c">Total Personas</label>
      {{input id="c" type="text" value=registroEvento.nombre}}
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <label for="r">Fecha</label>
      <!-- <input id="fecha" type="text" class="datepicker"> -->
      {{input id="r" type="date" value=registroEvento.fecha}}
    </div>
    <div class="col s6">
      <label for="x">Hora de Inicio</label>
      <!-- <input id="hr" type="text" class="timepicker"> -->
      {{input id="x" type="time" value=registroEvento.horaInicio}}
    </div>
  </div>

  <div class="row">
    <button class="ui right labeled icon button" {{action 'registraEvento' }}>
      <i class="right arrow icon"></i>
      Siguente Paso
    </button>
  </div>
</div>
