<div class="item">
  <div class="image">
    <img src="https://firebasestorage.googleapis.com/v0/b/crea-tu-evento.appspot.com/o/default%2Fdefault-placeholder.png?alt=media&token=b7b68d7f-4cd1-44fd-95ea-700cd5f1adbf">
  </div>
  <div class="content">
    <a class="header">Nombre: {{evento.nombre}}</a>
    <div class="meta">
      <span class="cinema">tipo del evento</span>
    </div>
    <div class="description">
      <p>adfhuytrefrgh h fghfgh ter ter ter tert er t</p>
    </div>
    <div class="extra">
      <div class="ui label">IMAX</div>
      <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
    </div>
  </div>
</div>
