
  <div class="container">
    {{#if Paso1}}
    <h1 class="ui horizontal divider header transparent">
      <!-- <i class="tag icon"></i> -->
      Datos generales del evento
    </h1>
    <p class="green-text" style="text-align: center;">Ingresa los datos de tu evento</p>
    {{/if}}
    {{form-registro-evento registroEvento=model Paso1=(action 'listoPaso1')}}
  </div>
