{{menu-cliente estadoI="" estadoE="active" doCerrarSesion=(action 'cerrarSesion')}}

<div class="ui segment">
  <h2>Lista de eventos</h2>
  {{#link-to 'crearEvento'}}
    <a class="btn-floating btn-large waves-effect waves-light red" ><i class="plus icon"></i></a>
  {{/link-to}}

    {{#each model.registroEventos as |item|}}
      {{item-evento evento=item}}
    {{/each}}
</div>
