<div class="ui equal width grid">

  <div class="column">
    <center><h2 class="ui header">Descripción</h2></center>
  </div>

  <div class="column" style="">
    <div class="container">
      <div style="height: 10%; text-align: center;">
        <h2 class="ui header">Inicia Sesión</h2>
      </div>
    <div class="container">
      <div class="ui form">
        <div class="field">
          <label >Ingresa tu correo</label>
            <div class="ui left icon input">
              {{input type="email" placeholder="corre electrónico" value=email}}
              <i class="mail icon"></i>
            </div>
        </div>

        <div class="field">
          <label >Ingresa tu contraseña</label>
          <div class="ui left icon input">
            {{input type="password" placeholder="contraseña" value=password}}
            <i class="lock icon"></i>
          </div>
        </div>
        <center><button class="ui blue submit button" style="height: 50%;" {{action 'signIn' 'email'}}>Ingresa</button></center>
        </div>
      </div>

    <center><div class="">
      <button class="ui circular facebook icon button">
        <i class="facebook icon"></i>
      </button>
      <button class="ui circular twitter icon button">
        <i class="twitter icon"></i>
      </button>
      <button class="ui circular google plus icon button">
        <i class="google plus icon"></i>
      </button>
    </div>
    </center>
    <div class="ui horizontal divider transparent">
      Or
    </div>
    <div class="center aligned column">
      <button class="ui big green labeled icon button" {{action 'irCrearCuenta'}}>
        <i class="signup icon"></i>
        Crea tu cuenta
      </button>
    </div>

    </div>
  </div>

</div>
